body {
  min-height: 100vh;
}

.card {
  border-radius: 16px;
}

.tradingview-widget {
  width: 100%;
}


.tradingview-widget-copyright {
  margin-top: 8px;
  font-size: 12px;
  text-align: right;
}

.tradingview-widget-copyright a {
  text-decoration: none;
}

.blue-text {
  color: #2962ff;
}

.badge {
  margin-left: 4px;
}

/* .mini-chart-widget {
  min-height: 220px;
} */

/* tv-mini-chart {
  width: 100%;
  display: block;
}
*/
tv-mini-chart .bottom-link {
  display: none;
} 

.mini-chart-widget {
  height: 220px;
  width: 100%;
}

.tv-mini-chart-wrapper {
  height: 100%;
  width: 100%;
}

tv-mini-chart {
  display: block;
  width: 100%;
  height: 100%;
}