body {
  min-height: 100vh;
}

.card {
  border-radius: 16px;
}

.tradingview-widget {
  width: 100%;
}


.tradingview-widget-copyright {
  margin-top: 8px;
  font-size: 12px;
  text-align: right;
}

.tradingview-widget-copyright a {
  text-decoration: none;
}

.blue-text {
  color: #2962ff;
}

.badge {
  margin-left: 4px;
}
